.divider1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--surface-primary);
}
.divider {
  height: 1px;
  width: 40px;
  position: relative;
}
.stepperEntreprise {
  width: 470.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.illustrationElementOne,
.illustrationElementTwo {
  width: 165.3px;
  height: 165.3px;
  position: absolute;
  margin: 0 !important;
  top: -6px;
  left: 879px;
  object-fit: contain;
}
.illustrationElementTwo {
  width: 171.7px;
  height: 171.7px;
  top: -29px;
  left: 943px;
  z-index: 1;
}
.container,
.trainingTitleContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.trainingTitleContainer {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--text-2xl-bold);
  font-weight: 700;
  font-size: var(--text-2xl-bold-size);
  color: var(--surface-background-light);
  min-width: 250px;
  z-index: 1;
}
.container {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--surface-hover-1);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-base) var(--padding-5xl)
    var(--padding-5xl);
  position: relative;
  gap: var(--gap-5xl);
}
.visualiserLaSituation {
  margin: 0;
  width: 448.9px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.explorezCeSupport {
  position: relative;
  font-size: var(--text-s-medium-size);
  line-height: 20px;
  font-family: var(--text-xs-medium);
  color: var(--text-text-secondary);
}
.trainingActions,
.visualiserLaSituationPourEParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.visualiserLaSituationPourEParent {
  width: 604px;
  flex-direction: column;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.trainingActions {
  align-self: stretch;
  flex-direction: row;
  gap: 22.4px;
}
.buttonWrapper,
.descriptionContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.descriptionContainer {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 171.5px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.buttonWrapper {
  align-items: flex-end;
  justify-content: space-between;
  min-height: 35px;
}
.container1,
.trainingContent,
.trainingHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container1 {
  align-self: stretch;
  border-radius: var(--radius-rounded-xs);
  background-color: var(--color-text-default-0);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-5xl);
  box-sizing: border-box;
  min-height: 763px;
  max-width: 100%;
}
.trainingContent,
.trainingHeader {
  justify-content: flex-start;
}
.trainingHeader {
  align-self: stretch;
  max-width: 100%;
}
.trainingContent {
  flex: 1;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 329px);
}
.training {
  align-self: stretch;
  flex-direction: row;
  gap: 36px;
  max-width: 100%;
}
.chatBot,
.chatBotInner,
.stepperEntrepriseParent,
.training {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stepperEntrepriseParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: var(--text-text-primary);
  font-family: var(--text-2xl-bold);
}
.chatBot,
.chatBotInner {
  box-sizing: border-box;
}
.chatBotInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 80px;
  max-width: 100%;
}
.chatBot {
  width: 100%;
  position: relative;
  background-color: var(--surface-background-light);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-21xl);
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1150px) {
  .trainingActions {
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(214px, 372px));
  }
  .trainingContent {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .trainingActions {
    grid-template-columns: minmax(214px, 1fr);
  }
  .descriptionContainer {
    padding-bottom: 111px;
    box-sizing: border-box;
  }
  .container1 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .training {
    gap: var(--gap-lg);
  }
  .chatBotInner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .chatBot {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .stepperEntreprise {
    flex-wrap: wrap;
  }
  .visualiserLaSituation {
    font-size: var(--text-base-bold-size);
  }
}
