.frameChild {
  height: 22.7px;
  width: 22.7px;
  position: relative;
  border-radius: var(--br-6xl);
  object-fit: cover;
}
.placeholder {
  height: 120px;
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 343px;
  max-width: 100%;
}
.placeholderWrapperChild {
  height: 162px;
  width: 222px;
  position: relative;
}
.placeholderWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-11xl);
  z-index: unset;
}
.bienvenueSurCe {
  margin: 0;
}
.placeholder1 {
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
}
.placeholderContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholderWrapperParent {
  width: 610px;
  margin: 0 !important;
  position: absolute;
  bottom: -82px;
  left: -6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--surface-background-light);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-base);
  opacity: 0;
  flex-shrink: 0;
  max-width: 100%;
}
.shapesChild {
  position: absolute;
  top: -17.9px;
  left: 1px;
  border-radius: 50%;
  width: 59.5px;
  height: 59.5px;
  object-fit: contain;
}
.shapesItem {
  position: absolute;
  top: -17.1px;
  left: 24.5px;
  background-color: var(--surface-primary);
  width: 48.3px;
  height: 44.5px;
  transform: rotate(68.9deg);
  transform-origin: 0 0;
}
.shapes {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base-2);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.shapesWrapper {
  height: 24px;
  width: 24px;
  position: relative;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.placeholder2 {
  height: 60px;
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 343px;
  max-width: 100%;
}
.frameParent1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--surface-background-light-brand);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  opacity: 0;
  flex-shrink: 0;
  max-width: 100%;
}
.placeholder3 {
  height: 60px;
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 343px;
  max-width: 100%;
}
.placeholderContainer1,
.placeholderContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.placeholderContainer1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--surface-background-light);
  padding: var(--padding-base);
  gap: var(--gap-base);
  opacity: 0;
  flex-shrink: 0;
  z-index: 1;
}
.placeholderContainerWrapper {
  align-self: stretch;
  padding: 0 0 var(--padding-5xs);
  z-index: unset;
}
.frameItem {
  position: absolute;
  top: -17.9px;
  left: -17.6px;
  border-radius: 50%;
  width: 59.5px;
  height: 59.5px;
  object-fit: contain;
}
.placeholder4 {
  width: calc(100% - 90.5px);
  border: 0;
  outline: 0;
  font-family: var(--text-xs-medium);
  font-size: var(--text-s-medium-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 20px;
  color: var(--surface-primary);
  text-align: left;
  display: inline-block;
  min-width: 300px;
  padding: 0;
  max-width: 100%;
}
.frameParent3 {
  border-radius: var(--br-5xs);
  background-color: var(--surface-background-light-brand);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-mini) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  margin-top: -26px;
}
.frameParent2,
.frameParent3,
.frameParent4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 100%;
}
.frameParent4 {
  border-radius: var(--br-5xs);
  background-color: var(--surface-background-light-brand);
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  opacity: 0;
  z-index: 1;
  margin-top: -26px;
}
.frameParent2 {
  flex-direction: column;
  z-index: unset;
}
.placeholder6 {
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 343px;
  max-width: 100%;
}
.container2,
.rectangleGroup {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleGroup {
  border-radius: var(--br-5xs);
  background-color: var(--surface-background-light);
  flex-direction: row;
  padding: var(--padding-base);
  gap: var(--gap-base);
  opacity: 0;
}
.container2 {
  height: 536px;
  border-radius: var(--radius-rounded-xs);
  background-color: var(--color-text-default-0);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-82xl) var(--padding-21xl) var(--padding-160xl);
  gap: var(--gap-xs);
  text-align: center;
  color: var(--text-text-secondary);
}
@media screen and (max-width: 1150px) {
  .placeholder,
  .placeholder2,
  .placeholder3,
  .placeholder6 {
    min-width: 100%;
  }
  .container2 {
    padding-top: var(--padding-47xl);
    padding-bottom: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frameParent1,
  .frameParent3,
  .frameParent4,
  .placeholderContainer1,
  .rectangleGroup,
  .rectangleParent {
    flex-wrap: wrap;
  }
  .container2 {
    height: auto;
    padding-top: var(--padding-24xl);
    padding-bottom: var(--padding-56xl);
    box-sizing: border-box;
  }
}
