.djVu {
  width: 80px;
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.djVuWrapper {
  width: 61px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
}
.heroiconsOutlinestar {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: var(--br-10xl);
  overflow: hidden;
  flex-shrink: 0;
}
.favoris,
.frameGroup {
  display: flex;
  flex-direction: row;
}
.favoris {
  border-radius: var(--br-17xl);
  background-color: var(--color-gray-100);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs);
}
.frameGroup {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  gap: var(--gap-xl);
}
.heroiconsMinilockClosed {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.play {
  border-radius: var(--br-15xl);
  background-color: var(--text-text-help);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.heroiconsMiniclock {
  height: 19px;
  width: 19px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.min {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 41px;
}
.heroiconsMiniclockParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.titreDeLa {
  position: relative;
  font-size: var(--text-base-bold-size);
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
  color: var(--surface-background-light);
  min-width: 114px;
}
.frameContainer,
.frameParent {
  display: flex;
  flex-direction: column;
}
.frameContainer {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--text-s-medium-size);
  color: var(--text-text-help);
}
.frameParent {
  flex: 1;
  border-radius: var(--br-lg);
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  background-image: url(/public/frame-74819@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 214px;
  text-align: center;
  font-size: var(--text-xs-medium-size);
  color: var(--color-text-default-0);
  font-family: var(--text-xs-medium);
}
