.helpText,
.label {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.helpText {
  width: 48px;
  display: none;
}
.top {
  width: 294px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-56xs);
}
.label1 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: none;
}
.text7 {
  width: 262px;
  border: 0;
  outline: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--text-xs-medium1);
  font-weight: 500;
  font-size: var(--text-s-medium-size);
  color: var(--text-text-secondary);
}
.field,
.fieldWrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.field {
  border-radius: var(--radius-rounded-xs1);
  background-color: var(--color-text-default-0);
  border: 1px solid var(--surface-secondary);
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--spacing-spacing-xs1);
}
.fieldWrapper {
  border-radius: var(--br-xs);
  align-items: flex-start;
  padding: var(--spacing-spacing-xs1);
}
.caption {
  width: 294px;
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: none;
}
.input,
.masterinput {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.masterinput {
  align-self: stretch;
  justify-content: center;
  gap: var(--spacing-spacing-xs);
}
.input {
  justify-content: flex-start;
  min-width: 335px;
  max-width: 100%;
  text-align: right;
  color: var(--text-text-help);
  font-family: var(--text-xs-medium1);
}
