.text9 {
  width: 36px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.masterbuttondesktop3 {
  border-radius: var(--radius-rounded-xs);
  background-color: var(--surface-primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-spacing-sm) var(--padding-mini);
  gap: var(--spacing-spacing-sm);
}
